<table class="table table-striped">
    <thead>
        <th>Quantidade</th>
        <th>Produto</th>
        <th>Descrição</th>
        <th>Subtotal</th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td>
                {{item.quantity}}
            </td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.price}}</td>
            <td>
                <img src="assets/icons/plus-circle.svg" (click)="increaseQt()" style="width:15px;margin-right:10px">
                <img src="assets/icons/dash-circle.svg" (click)="decreaseQt()" style="width:15px">
            </td>    
        </tr>
    </tbody>
</table>
