<table class="table table-striped">
    <thead>
        <th>Quantidade</th>
        <th>Produto</th>
        <th>Descrição</th>
        <th>Subtotal</th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td>
                2(x)
            </td>
            <td>Hambúger Classico</td>
            <td>O clássico da casa!</td>
            <td>R$ 35,00</td>
            <td>
                <img src="assets/icons/plus-circle.svg" style="width:15px;margin-right:10px">
                <img src="assets/icons/dash-circle.svg" style="width:15px">
            </td>    
        </tr>
    </tbody>
</table>
