<a [routerLink]="['/restaurants', restaurant.id]">
    <div class="card">
        <div class="card-body">
            <img [src]="restaurant.imagePath" class="float-left" style="width: 120px; margin-right: 40px;">
            <div class="float-right"><img src="assets/icons/star.svg" style="width: 20px;margin-top: -6px"> {{restaurant.rating}}</div>
            <h5 class="card-title">{{restaurant.name}}</h5>
            <p class="card-text">{{restaurant.category}}</p>
            <p class="card-link">ENTREGA: {{restaurant.deliveryEstimate}} <img src="assets/icons/stopwatch.svg"></p>
        </div>
    </div>
</a>
