<h6>Formas de pagamento:</h6>

    <div class="form-check" style="margin-top:40px">
        <input class="form-check-input" type="radio" name="exampleRadios" value="option1">
        Dinheiro
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" value="option2">
        Cartão de Débito
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" value="option2">
        Cartão de Crédito
    </div>