<section style="margin-bottom: 60px">
    <h4 style="margin-bottom: 20px">Concluir pedido</h4>

    <form [formGroup]="formOrder" class="form-group" (ngSubmit)="onSubmit()">
        
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-6">
                <input type="text" class="form-control" name="endereco" formControlName="endereco" placeholder="Endereço">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" name="numero" formControlName="numero" placeholder="Número">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" name="complemento" formControlName="complemento" placeholder="Complemento">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" name="nome" formControlName="nome" placeholder="Nome completo">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" name="email" formControlName="email" placeholder="E-mail">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" name="celular" formControlName="celular" placeholder="Celular">
            </div>
        </div>

    </form>

</section>

<app-order-items></app-order-items>


<div class="row">
    <div class="col-md-6" style="margin-top: 60px">
            
        <h6>Formas de pagamento:</h6>
            <div class="form-check" style="margin-top:40px">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                Dinheiro
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                Cartão de Débito
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                Cartão de Crédito
            </div>
    </div>

    <div class="col-md-6" style="margin-top: 60px">
        <h6>Frete + Total: </h6>
            <table class="table">
                <tbody>
                  <tr>
                    <th style="width:50%">Itens:</th>
                    <td class="text-right">Hambúger Classico</td>
                  </tr>
                  <tr>
                    <th>Frete:</th>
                    <td class="text-right">R$ 20,00</td>
                  </tr>
                  <tr>
                    <th>Total:</th>
                    <td class="text-right">R$ 55,00</td>
                  </tr>
                  <tr>
                  </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col">
                    <button class="btn btn-md btn-success">
                        <img src="assets/icons/credit-card.svg" style="margin-right:10px;width: 20px">
                            Concluir pedido
                    </button>
                </div>
            </div>
    </div>
</div>