<section style="margin-bottom: 60px">
    <h4 style="margin-bottom: 20px">Concluir pedido</h4>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Endereço">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Número">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Complemento">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Nome completo">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="E-mail">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Celular">
            </div>
        </div>
</section>

<table class="table table-striped">
    <thead>
        <th>Quantidade</th>
        <th>Produto</th>
        <th>Descrição</th>
        <th>Subtotal</th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td>
                2(x)
            </td>
            <td>Hambúger Classico</td>
            <td>O clássico da casa!</td>
            <td>R$ 35,00</td>
            <td>
                <img src="assets/icons/plus-circle.svg" style="width:15px;margin-right:10px">
                <img src="assets/icons/dash-circle.svg" style="width:15px">
            </td>    
        </tr>
    </tbody>
</table>