<section>
        <div class="text-center">
            <h3 class="font-weight-bold" style="margin-top: 120px;">Descubra os restaurantes mais <span style="color:#0084ff">próximos de você</span>!</h3>
            <h5 style="margin-top: 30px;">Fique a um clique de matar sua fome :)</h5>
    
            <div class="input-group input-group-lg" style="margin-top:100px">
                <input type="text" class="form-control" placeholder="Buscar restaurantes">
                <div class="input-group-prepend">
                    <button class="btn btn-lg btn-primary" type="button">Buscar</button>
                </div>
                
            </div>
        </div>
</section>
