<div class="content">
    <div class="col-md-9 col-xs-12">
        <div class="card" style="width: 500px; margin-top: 20px;">
            <p>Nome do prato</p>
            <p>Valor</p>
            <p>Quantidade</p>
        </div>
        <div class="card" style="width: 500px; margin-top: 20px;">
            <p>Nome do prato</p>
            <p>Valor</p>
            <p>Quantidade</p>
        </div>
        <div class="card" style="width: 500px; margin-top: 20px;">
            <p>Nome do prato</p>
            <p>Valor</p>
            <p>Quantidade</p>
        </div>
        <div class="card" style="width: 500px; margin-top: 20px;">
            <p>Nome do prato</p>
            <p>Valor</p>
            <p>Quantidade</p>
        </div>
    </div>
</div>