<div class="card" style="margin-top: 20px;">
    <img [src]="menuItem.imagePath" class="float-left" style="width: 120px; margin-right: 50px;">
    <div class="card-body">
        <h5 class="card-title">{{menuItem.name}}</h5>
        <p class="card-text">{{menuItem.description}}</p>
        <div class="row">
            <div class="col-sm">
                <p class="card-text">{{menuItem.price | currency: 'BRL': true}}</p>
            </div>
            <div class="col-sm">
                <a href="#" class="float-right">Adicionar</a>
            </div>
        </div>
    </div>
</div>