<div class="content">
    <div class="card">
        <div class="card-header">
           <h3>{{restaurant.name}}</h3>
        </div>
        <div class="card-body">
            <img [src]="restaurant.imagePath" class="float-left" style="width: 300px; margin-right: 20px;">
            <h5 style="margin-top: 50px;">Categoria</h5>
                <p>{{restaurant.category}}</p>
            <h5>Quem somos</h5>
               <p>{{restaurant.about}}</p>
            <h5>Horários</h5>
                <p>{{restaurant.hours}}</p>
        </div>
        <div class="card-footer">
            <div class="row">
                <a href="#" class="col-sm">
                    <p class="text-center">Menu</p>
                </a>
                <a href="#" class="col-sm">
                    <p class="text-center">Avaliações</p>
                </a>
            </div>
        </div>
    </div>
</div>