<div class="card" style="margin-top: 20px;">
    <div class="card-body">
        <h5>Carrinho</h5>
        
        <div *ngIf="!showItems().length">
            <p style="margin-top: 40px;">Seu carrinho está vazio!</p>
            <p>Comece escollhendo alguma delícia do nosso menu :)</p>
        </div>

        <table class="table-responsive" *ngIf="showItems().length">
            <thead *ngFor="let item of showItems()"> 
                <th>({{item.quantity}}x) {{item.menuItem.name}}</th>
            </thead>
            <tbody>
                <td>Aumentar qtd.</td>
            </tbody>
        </table>
    </div>

    <div class="card-footer" *ngIf="showItems().length">
        <p>TOTAL: {{totalValue() | currency: 'BRL': true}}</p>

        <div class="row">
            <div class="col">
                <h6>LIMPAR</h6>
            </div>
            <div class="col">
                <button class="btn btn-sm btn-success">FECHAR PEDIDO</button>
            </div>
        </div>
    </div>
</div>