<div class="card" style="margin-top: 20px;">
    <div class="card-body">
        <h5>Carrinho</h5>
        
        <table class="table-responsive">
            <thead>
                <th>(2x) Lasanha Especial Especial Especial</th>
            </thead>
            <tbody>
                <td>Aumentar qtd.</td>
            </tbody>
        </table>


    </div>
    <div class="card-footer">
        <p>The total price comes here!</p>

        <div class="row">
            <div class="col">
                <h6>LIMPAR</h6>
            </div>
            <div class="col">
                <button class="btn btn-sm btn-success">FECHAR PEDIDO</button>
            </div>
        </div>
    </div>
</div>