<div class="card" style="margin-top: 20px;">
    <div class="card-body">
        <h5>
            <img src="assets/icons/cart3.svg" style="width: 20px;margin-top: -5px">
             Carrinho
        </h5>

        <div *ngIf="!showItems().length">
            <p style="margin-top: 40px;">Seu carrinho está vazio!</p>
            <p>Comece escollhendo alguma delícia do nosso menu :)</p>
        </div>

        <table class="table-responsive">
            <tr *ngFor="let item of showItems()" [@row]="rowState"> 
                <th>({{item.quantity}}x) {{item.menuItem.name}}</th>
                <td>| {{item.value()| currency: 'BRL': true}}</td>
                <td (click)="removeItem(item)"><img src="assets/icons/x-circle.svg" style="margin-left: 10px"></td>
            </tr>
        </table>
    </div>

    <div class="card-footer" *ngIf="showItems().length">
        <p>FRETE: R$ 10,00</p>
        <p>TOTAL: {{totalValue() | currency: 'BRL': true}}</p>

        <div class="row" *ngIf="showItems().length">
            <div class="col">
                <button (click)="clearItems()" class="btn btn-md btn-danger">LIMPAR</button>
            </div>
            <div class="col">
                <button class="btn btn-md btn-success">CONCLUIR</button>
            </div>
        </div>
    </div>
</div>